*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./calbg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.calcontainer{
    min-width: 25%;
    animation: down 2s;
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calculator > input{
    padding: 60px 5px;
    width: 100%;
    font-size: 25px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
}
input:focus{
    border: none;
}
.calculator > button{
    padding: 14px 0;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 1px;
    color: rgb(31, 29, 29);
    background-color:#e45973;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    background-image: url('./bgcontainer.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
button{
    padding:15px 8px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(31, 30, 30);
    font-size: 19px;
    border-radius: 3px;
}
.g2{
    grid-column: 3/5;
}
.g{
    font-size: 28px;
}
@keyframes down {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}